* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: url(/assets/images/green_board.jpg) no-repeat center center fixed;
    background-color: rgb(84,122,135);
    background-size: cover;
    height: 100%;
    overflow: hidden;
    font-family: 'Caveat Brush', cursive, sans-serif;
    color: white;
  }

  /* Main container */

  #container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

  }

   /* Game area */

  .rules {
    max-width: 300px;
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    text-shadow: 0px 3px black;
  }

  #gameboard {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 500px;
    height: 500px;
  }

  #gameboard>h1 {
    width: 100%;
    font-size: 50px;
  }

  .box {
    width: 150px;
    height: 150px;
    font-size: 100px;
    /* border: 2px solid white; */
  }

  #b0 {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
  }

  #b1 {
    border-bottom: 2px solid white;
  }

  #b2 {
    border-left: 2px solid white;
    border-bottom: 2px solid white;
  }

  #b3 {
    border-right: 2px solid white;
  }

  #b4 {
    border-right: 2px solid white;
  }

  #b6 {
    border-top: 2px solid white;
    border-right: 2px solid white;
  }

  #b7 {
    border-top: 2px solid white;
  }

  #b8 {
    border-left: 2px solid white;
    border-top: 2px solid white;
  }

  /* Player selector/score area */

  .playerArea {
    display: flex;
  }

  .playerX {
  
  }

  #restetBtn {
    
  }

  .playerO {
    
  }

  .sideImg img {
    width: 20vw;
    height: auto;
  }

  /* Footer area */

  body footer {
    background-color: green;
    width: 100vw;
    height: 200px;
  }