* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: url(/assets/images/green_board.jpg) no-repeat center center fixed;
    background-color: rgb(84,122,135);
    background-size: cover;
    font-family: 'Caveat Brush', cursive, sans-serif;
    color: #f5f5f5;
    text-shadow: 1px 2px black;
  }

  /* Main container */

  #container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: start;
    align-items: center;
    min-height: 81.7vh;

  }

   /* Game area */

  .rules {
    max-width: 300px;
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 50px;
  }

  .sideImg img {
    max-width: 300px;
    height: auto;
  }

  #gameBoard {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    width: 500px;
    height: 500px;
  }

  #gameBoard>h1 {
    width: 100%;
    font-size: 50px;
  }

  .box {
    width: 150px;
    height: 150px;
    font-size: 100px;
  }

  #b0 {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
  }

  #b1 {
    border-bottom: 2px solid white;
  }

  #b2 {
    border-left: 2px solid white;
    border-bottom: 2px solid white;
  }

  #b3 {
    border-right: 2px solid white;
  }

  #b5 {
    border-left: 2px solid white;
  }

  #b6 {
    border-top: 2px solid white;
    border-right: 2px solid white;
  }

  #b7 {
    border-top: 2px solid white;
  }

  #b8 {
    border-left: 2px solid white;
    border-top: 2px solid white;
  }

  /* Player selector/score area */

  .playerArea {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-grow: 1;
    /* max-width: 700px; */
  }

  /* Footer area */

  body footer {
    background-color: green;
    width: 100vw;
    height: 150px;
    background: url(/assets/images/wood_board.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }